body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  min-height: auto;
}

h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: 'Georgia', serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 20px;
}

.container {
  width: 510px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  min-width: 550px;
  height: 186px;
  margin-bottom: 70px;
  padding-top: 30px;
  background: #847462 no-repeat center url('https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/furniture-1.jpg');
  background-size: cover;
  color: #ffffff;
}

.advantages-item {
  margin-bottom: 15px;
}

.site-header p {
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.site-header img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.features {
  width: 510px;
  margin: 0 auto 30px;
  padding: 0 20px;
}

.features p {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center top;
}

.feature-furniture {
  padding-top: 65px;
  background-image: url('https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/sofa.svg');
}

.feature-lighting {
  padding-top: 65px;
  background-image: url('https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/lamp.svg');
}

.feature-accessories {
  padding-top: 65px;
  background-image: url('https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/accessories.svg');
}

.advantages {
  width: 510px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

.advantages-list {
  padding: 0;
}

.site-footer {
  min-width: 550px;
  background-color: #847462;
  color: #ffffff;
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}